@model TaskList

<h1>Create Task</h1>
<form method="post" class="row">
	<div class="border p-3">
		<div>
			<input asp-for="Name" />
			<label asp-for="Name" class="control-label">Task Name</label>
		</div>
		<div>
			<input asp-for="Priority" />
			<label asp-for="Priority" class="control-label">Priority</label>
		</div>
		<div> 
			<button type="submit">Create Task</button>
		</div>
	</div>
</form>
