html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.hover-details {
    display: none;
    top: 100%;
    left: 0;
    z-index: 10;
}
.task-card:hover .hover-details {
    display: block;
}



body {
    margin-bottom: 60px;
}